/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor Principal */
.container {
    background: transparent;
    padding: 20px;
    border-radius: 8px;
}

/* Botones */
.btn-primary {
    background-color: #007bff;
    border: none;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

/* Footer */
.footer {
    font-size: 14px;
    color: #666;
}

/* Tablas */
.table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

    .table thead {
        background-color: #007bff;
        color: white;
        text-align: center;
        color: white;
    }
    .table thead th {
        color: white;
    }
    .table tbody tr{
        text-align: center;
    }

    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

.card-table {
    -webkit-box-shadow: 13px 14px 14px -1px rgba(0,0,0,0.49);
    -moz-box-shadow: 13px 14px 14px -1px rgba(0,0,0,0.49);
    box-shadow: 13px 14px 14px -1px rgba(0,0,0,0.49);
    border-radius: 25px;
    padding: 40px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-image: linear-gradient(to bottom, #007bff0%, #007bff0%);
    background-color: transparent !important;
    background: #ffffff00 !important;
    border: 0px solid #007bff!important;
    border-radius: 8px !important;
    color: #007bff!important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background-image: linear-gradient(to bottom, #007bff0%, #007bff0%);
        background-color: transparent !important;
        background: #ffffff00 !important;
        border: 0px solid #007bff!important;
        border-radius: 8px !important;
        color: #007bff!important;
        font-weight: bold !important;
    }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background-image: linear-gradient(to bottom, #007bff0%, #007bff0%);
    background-color: #007bff!important;
    background: #ffffff00 !important;
    border: 2px solid #007bff!important;
    border-radius: 8px !important;
    color: #007bff!important;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
        background-image: linear-gradient(to bottom, #007bff0%, #007bff0%);
        background-color: #007bff!important;
        border: 2px solid #007bff!important;
        border-radius: 8px !important;
        color: white !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    margin-top: 10px !important;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-image: linear-gradient(to bottom, #007bff0%, #007bff0%);
        background-color: #007bff!important;
        border: 2px solid #007bff!important;
        border-radius: 8px !important;
        color: white !important;
        padding-top: 5px;
        padding-bottom: 5px;
    }

.button.dt-button, div.dt-button, a.dt-button {
    background-image: linear-gradient(to bottom, #094483 0%, #094483 0%);
    background-color: #094483 !important;
    border: 2px solid #094483 !important;
    border-radius: 8px !important;
    color: white !important;
}

    .button.dt-button, div.dt-button, a.dt-button:hover {
        background-image: linear-gradient(to bottom, #094483 0%, #094483 0%);
        background-color: #094483 !important;
        background: white !important;
        border: 2px solid #094483 !important;
        border-radius: 8px !important;
        color: #094483 !important;
    }

.dt-buttons {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}

/*     Tables    */
table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 0px solid #111!important;
}

tr {
    border-bottom: 1px solid #d7d7d7 !important;
}
